<!DOCTYPE html>
<html>
    <head>
        <title> </title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="modele_plateau.css">
        
    </head>

    <body>

            <form action="" method="get" hre>
                <input type="submit" name="req_prendre" value="prendre"><br>
                <input type="submit" name="req_passer" value="passer">
            </form>
            
        <class="banque">
             {% for carte in deck %}

        	<img src="images/img_cartes/{{ carte.random }}.svg">
            {{ carte }}

		    {% endfor %}
        </class>
        <br>


        <class="joueur_1">
             {% for carte in cartes %}

        	<img src="images/img_cartes/{{ carte.random }}.svg">
            {{ carte }}

		    {% endfor %}
        </class>
        <br>

        <class="joueur_2">
             {% for carte in cartes %}

        	<img src="images/img_cartes/{{ carte.random }}.svg">
            {{ carte }}

		    {% endfor %}
        </class>
        <br>


        <class="joueur_3">
             {% for carte in cartes %}

        	<img src="images/img_cartes/{{ carte.random }}.svg">
            {{ carte }}

		    {% endfor %}
        </class>
        <br>


        <class="joueur_4">
             {% for carte in cartes %}

        	<img src="images/img_cartes/{{ carte.random }}.svg">
            {{ carte }}

		    {% endfor %}
        </class>
        <br>


        <class="joueur_5">
             {% for carte in cartes %}

        	<img src="images/img_cartes/{{ carte.random }}.svg">
            {{ carte }}

		    {% endfor %}
        </class>
        <br>


        {% if actif %}
        <a href="/req_quitter?choix={{choix}}&pseudo={{pseudo}}"><button>Quitter</button></a>
        <a href="/req_continuer?choix={{choix}}&pseudo={{pseudo}}"><button>Continuer</button></a>
        {% endif %}
       

    </body>
</html>