.jeton_10{
    height: auto;
    width: 120px;

}
.jeton_50{
    height: auto;
    width: 120px;
    
}
.jeton_100{
    height: auto;
    width: 120px;
}
.jeton_250{
    height: auto;
    width: 120px;
}
.jeton_500{
    height: auto;
    width: 120px;
}
.jeton_1000{
    height: auto;
    width: 120px;
}

h2{
    padding-left: 5%;
}

@media (max-width: 600px) {
    html {
        background-color: pink;
    }
}
