@font-face {
    font-family:"avion";
    src: url('fonts/Champagne & Limousines.ttf') format('truetype');
}

html{
	background-image : url('images/accueil_membre.jpeg');
    background-size : cover;
    background-repeat: no-repeat;
    height : 100%;
}

body{
	margin : auto;
    margin-top: 0%;
    line-height: 20px;
    text-align: center;
    width: 800px;
    padding: 1em;
    border: 1px solid white;
    background : white;
    opacity : 0.8;
	font-family: "avion", sans-serif;
}

.logo{
    width: 210px;
    height: auto;
}
.title{
    display: absolute;
}
.tables{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 55px;
}

.img1{
    height: 120px;
    width: auto;
    transition: 0.3s;
}

.img1:hover{
    height: 150px;
    width: auto;
    transition: 0.3s;
}

.img2{
    height: 120px;
    width: auto;
    transition: 0.3s;
}
.img2:hover{
    height: 150px;
    width: auto;
    transition: 0.3s;
}

.img3{
    height: 120px;
    width: auto;
    transition: 0.3s;
}
.img3:hover{
    height: 150px;
    width: auto;
    transition: 0.3s;
}

h1{   
    font-size: 300%;
}

a{
    text-decoration: none;  
    color: black;
}

.Regles{
    text-align: left;
    padding-top: 20px;
    text-decoration: none;
}
.pseudo{
    font-size: 20px;
}

