<!DOCTYPE html>
<html>
    <head>

        <title></title>
        <meta charset="utf-8">
        <meta http-equiv="refresh" content="5; url=/req_rafraichir?choix={{choix}}&pseudo={{pseudo}}">
        <link rel="stylesheet" type="text/css" href="modele_plateau.css">
        
    </head>

    <body>
    <div class="global">
       
        <div class="banque">
            <h2 class="text_banque">Banque</h2>
            <div class="cartes_banque">
                {% for carte in banque %}
                <img src="52_cartes/{{carte}}.svg"> 
                {% endfor %}
            </div>   
        </div>

        <div class="mains">
            {% for main in mains %}
            <div class="main">
                {% for carte in main %}
                <img src="52_cartes/{{carte}}.svg"> 
                {% endfor %}
                </div>

            {% endfor %}
        </div>

        <div class="bouton">

            {% if actif %}
            <a href="/req_prendre?choix={{choix}}&pseudo={{pseudo}}"><button>Prendre</button></a>
            <a href="/req_passer?choix={{choix}}&pseudo={{pseudo}}"><button>passer</button></a>
            {% endif %}

        </div>

    </div>

        {% if fin %}
            <a href="/req_quitter?choix={{choix}}&pseudo={{pseudo}}"><button>Quitter</button></a>
            <a href="/req_continuer?choix={{choix}}&pseudo={{pseudo}}"><button>Continuer</button></a>
        {% endif %}
    
    </body>
</html>

