<!DOCTYPE html>
<html>
    <head>
        <title> </title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="modele_plateau.css">
        
    </head>

    <body>

            <form action="" method="get" hre>
                <input type="submit" name="req_prendre" value="prendre"><br>
                <input type="submit" name="req_passer" value="passer">
            </form>

            <img src="images/52_cartes/{{ carte1 }}.svg">
            <img src="images/52_cartes/{{ carte2 }}.svg">

<!--
        <div class="joueurs">
        {% for joueur in ?}    
        <div class="joueur{{loop.index}}">
             {% for carte in deck %}

        	<img src="images/img_cartes/{{ carte.random }}.svg">
            {{ carte1 }}
            {{ carte2 }}

		    {% endfor %}
        </div>
        {% endfor %}
        </div>

        {% if actif %}
        <a href="/req_quitter?choix={{choix}}&pseudo={{pseudo}}"><button>Quitter</button></a>
        <a href="/req_continuer?choix={{choix}}&pseudo={{pseudo}}"><button>Continuer</button></a>
        {% endif %}
  -->     

    </body>
</html>

