@font-face {
    font-family:"avion";
    src: url('fonts/Champagne & Limousines.ttf') format('truetype');
}
html{
    font-family:"avion";
}

body{
    text-align: center;
    font-family: "avion", sans-serif;
}

.jeton_10{
    height: auto;
    width: 120px;
}
.jeton_50{
    height: auto;
    width: 120px;    
}
.jeton_100{
    height: auto;
    width: 120px;
}
.jeton_250{
    height: auto;
    width: 120px;
}
.jeton_500{
    height: auto;
    width: 120px;
}
.jeton_1000{
    height: auto;
    width: 120px;
}


.jetons{
    display: flex;
    justify-content: space-evenly;
    margin: 80px 150px 0px 150px;
}
.timer{
    margin-top: 50px;
}

@media (max-width: 600px) {
    html {
        background-color: pink;
    }
}
