@font-face {
    font-family:"avion";
    src: url('fonts/Champagne & Limousines.ttf') format('truetype');
}
body{
    font-family: "avion", sans-serif;
}

html{
    background-image : url('images/tapisvert.jpeg');
    background-size : 120em 100%;
    background-repeat: no-repeat;
    height : 100%;
}

img {
    width : 100px;
    height : auto;
    }

.banque{
    display: flex;
    flex-direction: column;
    align-items: center;
	padding-top : 3%;
    /* margin-top: 10px; */
    /* border: 1px black solid; */
    /* margin:0px 30% 0px 30%; */
    /* padding-bottom: 20px; */
    /* border-radius: 2%; */
}

.bouton{
    display: flex;  
    justify-content: center;
    padding-top:60px;
    justify-content: space-evenly;
}
.button{
    background-color: black;
    border: none;
    color:white;
    padding: 10px 35px;
    border-radius: 5px;
    border: 2px solid black;
    transition: 0.3s;
}
.button:hover{
    transition: 0.3s;
    color:black;
    background-color: white;
    border: 2px solid black;
}

.carte_banques{

}

.carte_banque{
    background-color: white;
}

.text_banque{
    display: flex;
    align-items: center;
}

.mains{
    display: flex;
    margin: 80px 30px 0px 30px;
    justify-content: space-evenly;
}

.main{
    display: flex;
}

.image_main{
    background-color: white;
}

.image_main:nth-child(1n+1){
    position: flex;   
}
.image_main:nth-child(1n+2){
    position: absolute; 
    margin-left: 20px;
}
.image_main:nth-child(1n+3){
    position: absolute; 
    margin-left: 40px;
}
.image_main:nth-child(1n+4){
    position: absolute; 
    margin-left: 60px;    
}
.image_main:nth-child(1n+5){
    position: absolute; 
    margin-left: 80px;   
}
.image_main:nth-child(1n+6){
    position: absolute; 
    margin-left: 100px;  
}
.image_main:nth-child(1n+7){
    position: absolute; 
    margin-left: 120px;    
}
.image_main:nth-child(1n+8){
    position: absolute; 
    margin-left: 140px;    
}

