<!DOCTYPE html>
<html>
    <head>
        <title>Lobby</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="modele_lobby.css">
		<meta http-equiv="refresh" content="2; url=/req_actualiser_lobby?choix={{choix}}&pseudo={{pseudo}}">
    </head>
    <body>
		<h1> Veuillez patientez</h1>

		<p> Liste d'attente : </p>

		{% for pseudo in pseudos %}
		<li>
        	{{ pseudo }}
		</li>
		{% endfor %}
	
		</br>

		{% if etape %}
			<a href="/req_passer_lobby?choix={{choix}}&pseudo={{pseudo}}"><button>Rejoindre</button></a>
		{% endif %}
		<a href="/req_quitter_lobby?choix={{choix}}&pseudo={{pseudo}}"><button>Quitter</button></a>
    </body>
</html>

